@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html, body {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}

/* --- Navbar --- */

ul.navbar-nav {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.3rem;
}

.title {
    color: white;
    font-weight: 300;
    font-size: 4.8rem;
    text-shadow: 2px 2px slategray;
}

.banner-image {
    background-image:url(/assets/images/fishtale-boat.jpeg);
    background-size: cover;
}

.fader {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 55;
}

.navbar-brand {
    font-weight: 900;
    color: white;
    font-size: 2.2rem;
    letter-spacing: 5px;
}

.active-nav {
    background-color: #252b31
}

.navbar-toggler {
  color: rgba(0, 48, 73, 0.9);
  border-radius: 80%;
  height: 50px;
  width: 50px;
  padding-left: 10px;
  padding-right: 13px;
}

.navbar-toggler-icon {
    color: blue;
    font-size: 20px;
    height: 20px;
    width: 20px;
}

navbar-toggler span {
    color: black;
    display: block;
    width: 30px;
    height: 2px;
    background-color: rgb(255, 0, 128);
    border: 1px;
}

.navbar-toggler span + span {
    color: black;
    display: block;
    width: 30px;
    height: 2px;
    background-color: chartreuse;
}
/* -- About Section --  */

.about {
    letter-spacing: 2px;
    background-color: rgba(156, 188, 206, 0.6);
    margin-top: 20px;
    box-shadow: 1px 2px 20px;
}

.about h1 {
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 300;
}

 /* ---- Places ---- */

 .places {
     background-color: cornflowerblue;
 }

.catagory-option {
    display: flex;
    text-align: center;
}

.temples {
    background-image:url(/assets/images/liberty-square.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.beaches {
    background-image:url(/assets/images/krabi-beach.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

}

.activities {
    background-image:url(/assets/images/elephant-walking-road.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.options {
    border: 2px black solid;
    border-radius: 4%;
    padding-bottom: 40px;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
    margin-right: 4px;
}

.info {
    align-items: center;
    display: inline-flex;
    box-shadow: 1px 2px 20px;
}

 .info-img {
    display: flex;
    flex-wrap: nowrap;
    height: 550px;
    margin: 10px;
}

 .info-img img {
    display: flex;
    align-items: center;
    height: 500px;
    margin: 20px;
 }


.hide {
    display: none;
}

/* --- Google Maps ---  */

#map {
    height: 600px;
    width: 100%;
    box-shadow: 1px 2px 20px;
    margin-top: 20px;
}

/* -- Map info window Content --  */

#content {
    font-size: 15px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    background-color: rgba(144, 206, 240, 0.6);
    margin: 0 auto;
}

#contentHeader {
    align-content: center;

}

.contentTitle {
    text-align: center;
    align-content: center;
    justify-content: center;
}

#mainContent {
    text-align: center;
    

}
/* ---- Contact ---- */

.contact-bg {
    width: 100%;
    background-image: url('/assets/images/Bangkok.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    align-content: space-between;
}

.contact-info {
    color: white;
    font-size: 18px;
    margin-top: 100px;
    text-align: center;
    position: relative;
    right: 20px;
    top: 80px;
    background: rgba(0, 0, 0, 0.4);
    height: 500px;
    
}

.contact-details {
    font-size: 20px;
}

.contact-details i {
    font-size: 35px;
    color: white;
    margin: 10px;
}

.my-form {
    background: rgba(0, 0, 0, 0.4);
    margin-top: 100px;
    box-shadow: 1px 1px 30px 15px black;
    align-content: center;
    justify-content: center;
    position: relative;
}


.my-form .form-input {
    margin: 20px;
    
}

.my-form .my-text {
    display: block;
    height: 40px;
    border-color: rgb(228, 248, 248);
    border-width: 0 1px 2px 0;
    margin-left: 55px;
    width: 85%;
    color: white;
    background: rgba(71, 70, 70, 0.4);
}

.my-form .my-label {
    line-height: 30px;
    color: rgba(28, 9, 133, 0.863);
    cursor: text;
    transition: transform 0.3s ease-in;
    color: white;
    text-transform: uppercase;
}

.form-intro {
    text-align: center;
} 

.my-text {
    height: 20px;
    border-color: rgb(11, 128, 128);
    border-width: 0 1px 2px 0;
    margin-top: 15px;
    color: white;
}

.my-label {
    line-height: 30px;
    cursor: text;
    transition: transform 0.3s ease-in;
}

.form-intro {
    text-align: center;
} 

.btn-send {
    font-size: 18px;
    background: rgba(69, 55, 151, 0.863);
    margin: 20px;
    color: white;
}

/* --- Footer Section ---  */

.my-footer {
    background: rgb(12, 12, 34);
    height: 200px;
    display: flex;
    position: relative;
    justify-content: center;
    
}

.my-footer li a i {
    font-size: 45px;
    transition: 0.5s ease-in-out;
    margin: 20px;
    margin-top: 40px;
    color: rgba(255, 95, 55, 0.863);
}

.my-footer li a i:hover {
    color:rgb(228, 248, 248);
}

.social {
    display: flex;
    letter-spacing: 40px;
}

.footer-message {
    margin: 20px;
    padding: 20px;
    font-size: 25px;
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
}
